<div class="container-fluid admin-head-blocks panel panel-default">
  <div class="row">
    <div class="col-sm-10 admin-head-block">
      <h4>Hierarchy</h4>
      <p><a href="#admin-tree-list">View the hierarchy of sub processes related to this protocol</a></p>
    </div>
  </div>
</div>
