<%
unless defined? show_table
  show_table = false
end

to_table_name = ref_def.dig(:resource_model_def, :table_name)
type = ref_def.dig(:resource_model_def, :type)
link = case type  
        when :dynamic_model then admin_dynamic_models_path(filter: { table_name: to_table_name, disabled: :enabled } )
        when :activity_log then admin_activity_logs_path(filter: { table_name: to_table_name, disabled: :enabled } )
        when :external_identifier then admin_external_identifiers_path(filter: { name: to_table_name, disabled: :enabled } )
        end
  %>
    <li>
  <% if link %>
      <%= link_to(resource_item_name, link, target: '_blank') %>
      <% if show_table %>
      <ul>
        <li>table: <%= to_table_name %></li>
      </ul>
      <% end %>
  <% else %>
    <%= resource_item_name %>
  <% end %>
    </li>