<div class="admin-protocol-tree-list container-fluid" id="admin-tree-list">
  <div class="row">
    <div class="col-md-offset-2 col-md-20">
      <%= render partial: 'admin/reference_data/protocol_block', locals: {tree_list_block_class: 'col-md-offset-4 col-md-16'} %>
    </div>    
  </div>
</div>