<% if !@view_options&.hide_result_count%>
  <span class="search_count_reports search-results-count pull-right" data-report-count="<%= @report.report_type %>" data-sub-item="count" data-template="search-count-template" ></span>
<%end%>